<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Url" value="https://flipkart.com"></parameter>
  <test thread-count="5" name="Test" parallel="methods">
  <parameter name="Browser" value="chrome"></parameter>
  <classes>
  <class name="com.qa.testscripts.TC_001"></class>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
